
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
        <div class="pressroom col-sm-6 row">
          <a href="http://pressroom.itnamerica.org/category/itnbluegrass/">
          <div class="col-sm-6 pressroom-image">
            <div class="pressroom-title"><h3>Pressroom</h3></div>
            <img src="assets/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul>
              <li class="wow fadeInUp"><a href="http://pressroom.itnamerica.org/category/itnbluegrass/">Pressroom Blog</a></li>
              
            </ul>
            <div style="font-size:20px !important;border:2px solid; padding:3%;text-align:center">
              <strong>I Know Expo founder Gale Reece honored with 2014 Lexington Forum Spirit Award.</strong>
              <img src="assets/images/SpiritAward.jpg" style="margin:25px auto;display:block"/>
              <p><a href="assets/images/docs/SpiritAward.pdf">Download this press release</a></p>
            </div>
            
            <p style="text-align:center; margin-top:50px"><a ui-sref="contact({signup: true})"><strong>Sign up to our newsletter!</strong></a></p>
          </div><!--pressroom-image-->
          </a>
        </div><!--pressroom-->
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <div class="newsletter-title"><h3>Newsletters</h3></div>
          <img src="assets/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li class="wow fadeInUp"><a href="assets/images/docs/April2018.pdf">SafeTravels April 2018</a></li>            
            <li class="wow fadeInUp"><a href="assets/images/docs/March2018.pdf">SafeTravels March 2018</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/January2018.pdf">SafeTravels January 2018</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/NovDec2017.pdf">SafeTravels November-December 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Oct2017.pdf">SafeTravels October 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Sept2017.pdf">SafeTravels September 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/August2017.pdf">SafeTravels August 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/July2017.pdf">SafeTravels July 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/MayJune2017.pdf">ITNExpress May-June 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/April2017.pdf">Safe Travels April 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/March2017.pdf">Safe Travels March 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/February2017.pdf">Safe Travels February 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/January2017.pdf">Safe Travels January 2017</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Nov2016.pdf">ITNExpress November 2016</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Spring2016.pdf">ITNExpress Spring 2016</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Nov2015.pdf">ITNExpress November 2015</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/July2015.pdf">ITNExpress July 2015</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/May2015.pdf">ITNExpress May 2015</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Spring2015.pdf">ITNExpress Spring 2015</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Fall2014.pdf">ITNExpress Fall 2014</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Fall2013.pdf">ITNExpress Fall 2013</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Spring2013.pdf">ITNExpress Spring 2013</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Winter2012.pdf">ITNExpress Winter 2012</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Fall2012.pdf">ITNExpress Fall 2012</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Summer2012.pdf">ITNExpress Summer 2012</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Spring2012.pdf">ITNExpress Spring 2012</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Winter2012.pdf">ITNExpress Winter 2012</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Fall2011.pdf">ITNExpress Fall 2011</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Summer2011.pdf">ITNExpress Summer 2011</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Spring2011.pdf">ITNExpress Spring 2011</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Winter2011.pdf">ITNExpress Winter 2011</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Fall2010.pdf">ITNExpress Fall 2010</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Summer2010.pdf">ITNExpress Summer 2010</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Spring2010.pdf">ITNExpress Spring 2010</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Winter2010.pdf">ITNExpress Winter 2010</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Fall2009.pdf">ITNExpress Fall 2009</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Summer2009.pdf">ITNExpress Summer 2009</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Spring2009.pdf">ITNExpress Spring 2009</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Spring2009.pdf">ITNExpress Spring 2009</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Winter2009.pdf">ITNExpress Winter 2009</a></li>
            <li class="wow fadeInUp"><a href="assets/images/docs/Fall2008.pdf">ITNExpress Fall 2008</a></li>
          </ul>
        </div><!--newsletter-content-->
        
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->
  
  
  <script>
  new WOW().init();
  </script>