
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="assets/images/board/Mike_Smith.jpg" alt="Michael Smith Portrait"/>
            <h2>Michael Smith</h2>
            <p class="title">Board Chair</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Michael Smith retired from the University of Kentucky after 15 years, having served as Executive Director of the university’s academic and enrichment programs for older adults (the Donovans and the OLLI), Assistant Dean for Evaluation and Planning in the College of Public Health, Associate Director of the Sanders-Brown Center on Aging, and Assistant Professor in the Department of Health Services Management. He has volunteered as a Board member and officer on non-profit boards, focusing on organizations dealing with aging and health.</p>
 
              <p>Mike worked as a senior administrator of hospitals for 19 years, before coming to Kentucky as Executive Director the Alzheimer’s Association for Central and Eastern Kentucky (1999-2001). He has an M.H.A. (Master of Health Administration) from Indiana University and an M.A. and Ph.D. in philosophy from Loyola University of Chicago. In faculty appointments at Xavier University, University of Notre Dame, and East Tennessee State University he taught in areas of bioethics, humanities, and human resource management.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/sal.jpg" alt="Sal Nalli portrait"/>
            <h2>Sal Nalli</h2>
            <p class="title">Vice-Chair</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Sal and his wife Catherine have five children and thirteen grandchildren. He is a member of Christ the King Cathedral and attended Temple University. Before he retired, he worked for IBM Corporation and Lexmark International in senior management. In his free time, he enjoys sports and sports memorabilia from baseball and football to basketball and golf. In addition to his work with ITN, he spends time volunteering with church and civic opportunities.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Helen_Kientz.jpg" alt="Helen Kientz portrait"/>
            <h2>Helen Kientz</h2>
            <p class="title">Secretary</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Helen is originally from the NJ/NY/Long Island area and is a graduate of the Katharine Gibbs School, New York.  A past president of Lawrenceville, NJ, and Lexington, KY,  Newcomers' Clubs, she is also a graduate of the Lexington Citizens' Police Academy.  Her career path included volunteering as an officer of PTAs in the schools her daughter attended in Colorado and New Jersey, supervising Girl Scouts, and working as a Kelly Girl, at several Presbyterian churches, and in legal and medical offices.</p>
              
              <p> Helen retired as the office manager of the Lexington office of the Greater Kentucky and Southern Indiana Chapter of the Alzheimer's Association.  She has volunteered and been employed by the Alzheimer's Association for the past eighteen years in various capacities including development, volunteer coordinating, event planning, and serving on the Board of Directors after retirement.  She continues her volunteering at the Association working in the Lexington office and serving on the Walk to End Alzheimer's committee (2015 will be her 17th Walk) and also is a volunteer driver for ITN. </p>

              <p>Having worked with senior citizens for the past eighteen years, she has learned that one of the most dire needs for seniors to remain independent is transportation.  ITN can fulfill that need if more people are aware of its existence.  She is promoting ITN wherever and whenever she can!</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        
        <div class="row mb-100">
          <div class="col-sm-4">
            <img src="assets/images/board/Cyndy_Allen.jpg" alt="Cyndi Allen portrait"/>
            <h2>Cyndi Allen</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio4 = !showBoardBio4">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio4">
              <p>Cyndi Allen is a native Lexingtonian, and even with that distinction she still uses GPS to find many ITN clients.
              She has two grown children, a son who is currently in college in FLA and a daughter in Chicago in grad school. When her children left home Cyndi found she had extra time on her hands and wanted to help seniors in Lexington and ITN was a great fit. She has met many interesting people while driving and loves to hear the stories they tell. </p>
              <p>Most clients are walking history books with a wealth of knowledge to share.
              She is involved in her neighborhood association, where she has been active for over twenty years and is currently Vice President. She drives twice a month for Meals on Wheels and serves Baptist Hospital Foundation, Volunteers of America Advisory Board, and the Kentucky Refugee Ministries. She has served on the board of High Street Neighborhood Association.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/drahovzal.jpg" alt="Jim Drahovzal portrait"/>
            <h2>Jim Drahovzal</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio5 = !showBoardBio5">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio5">
              <p>Jim Drahovzal has been an ITNBluegrass volunteer driver since mid-2014 when he heard about us via Second Presbyterian Church where he is an elder and serves on the mission committee. He was born and raised in Cedar Rapids, IA, and has a PhD in Geology from the University of Iowa. He spent the first 10 years of his career in the oil and gas industry and the last 20 years at the KY Geological Survey, which is part of UK. Now retired, Jim does geologic consulting work, including work on CO2 sequestration.</p>

              <p>Jim and his wife Becky have been married for 52 years. They have three children: Rob, a restauranteur in ND; Elizabeth, who lives in Lexington; and Sarah, a wildlife biologist in Bangor, ME. They also have five grandchildren and 2 great-grandchildren. In his spare time, Jim likes to read, travel, hike and study rocks.<p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Joe_Jarboe.jpg" alt="Joe Jarboe portrait"/>
            <h2>Joe Jarboe</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio6 = !showBoardBio6">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio6">
              <p>Joe Jarboe's diverse work experience and community involvement make him the perfect fit for the ITNBluegrass™ board! Before he retired, Joe was a weapon systems cost analyst and a general contractor (home building) in Scott County. Prior to civilian life, Joe served for over 26.5 years as an officer in the United States Air Force. During his military career, he logged over 5,000 flight hours, served on the faculty of the Air Force Academy, was the Air Attache in the US Embassy in Jakarta, Indonesia, and obtained the rank of colonel.</p>

              <p>Joe has been very involved in the community, serving as a Commissioner of the Kentucky Airport Zoning Commission, president of St. John School Committee, and board member of the Kentucky League for Education Alternatives.</p>

              <p>He became interested in ITNBluegrass™ at a Macular Degeneration Support Sight meeting that he attended with his wife, Chandra. He believes that ITN is worthwhile "because it provides a much needed service to the community. And at the same time it is timely, dignified, respectful, and 24/7." From helping with mailings to past volunteer driving on Tuesdays and Thursdays, Joe's commitment to the future of ITNBluegrass™ is obvious.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        <div class="row mb-50">
          <div class="col-sm-4">
            <img src="assets/images/board/Pitts.jpg" alt="Scott Pitts portrait"/>
            <h2>Scott Pitts</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio7 = !showBoardBio7">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio7">
              <p>Scott Pitts grew up in Frankfort, where his father was a high school teacher and basketball coach at Frankfort High School. His grandfather ran a milling company there for over 50 years. Scott graduated from the University of Kentucky with a finance degree and worked in the financial service industry in Lexington for thirty-two years.</p>
 
              <p>Currently, he is the Vice President of Wealth Management at BB & T. He and his wife Melissa have been married for thirty-one years. His son is a freshman at UK.</p>
               
              <p>Scott values the importance of accessible transportation for seniors and the visually impaired because his mother and many of his other family members have struggled with macular degeneration and similar eye issues.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img src="assets/images/board/Kathleen_Richardson.jpg" alt="Kathleen Richardson portrait"/>
            <h2>Kathleen Richardson</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio8 = !showBoardBio8">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio8">
              <p>Kathleen Richardson has been a librarian at Bluegrass Community & Technical College (formerly Lexington Community College) since 1989 and has nearly 30 years of experience in libraries. She credits her first library science course--an outstanding cataloging class with Liz Bishoff at Rosary College's Graduate School for Library and Information Science-- for sparking her interest in technical services.</p>

              <p>Kathleen currently serves on the board of the Lexington Chamber Chorale. The experiences of family and friends struggling to make arrangements for reliable transportation for frail or visually-impaired family members, as well as her own experience as an ITNBluegrass volunteer driver, have impressed upon her the significance of ITNBluegrass' activities for many more people than simply the riders.</p>
            </div>
          </div>
          
          
          <div class="col-sm-4">
            <img src="assets/images/board/Eskridge.jpg" alt="Allen Eskridge portrait"/>
            <h2>Allen Eskridge</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio9 = !showBoardBio9">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio9">
              <p>Allen Eskridge is the director of policy and operations for the Interstate Commission for Adult Offender Supervision. He is responsible for establishing and executing strategic plans for the organization, ensuring alignment of policies with rules and regulations, providing general operating/administrative guidance and, directing policy research. </p>
              <p>Allen’s public service tenure includes strategic planning and financial oversight for college resources within a public university as well as policy and financial analysis for varied cabinets and agencies under the Kentucky Governor’s Office. Moreover, his service includes two terms as Assistant Secretary of State of Kentucky. He is a graduate of Transylvania University and University of Kentucky where he completed his masters and doctorate degrees.</p>
            </div>
          </div>
        </div><!--row-->
      </section>
      
      
      
      <section class="org-section" id="staff">
        <h1>Staff</h1>
        <div class="container">

          <div class="row mb-50">
            <div class="col-sm-4">
              <img src="assets/images/board/Jennifer.jpg" alt="Jennifer Gripshover portrait"/>
              <h2>Jennifer Gripshover</h2>
              <p class="title"><strong>Executive Director</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio11">
                <p>Jennifer Gripshover joined ITNBluegrass as Executive Director in March of 2018.  Prior to ITN she had a 20 year career in education, including curriculum design, student affairs, records, academic administration, and management.  She found her passion when she became Dean of a career college.  Here she was able to help nontraditional students from under served populations to change their lives through education.</p>
                <p>She later opened the ITT Technical Institute campus in Lexington in 2006 as its first College Director.  She grew that campus to over 600 students and oversaw the addition of the Breckinridge School of Nursing.</p>
                <p>Jennifer attends Ohavay Zion Synagogue where she is the Co-Chair of the Social Action Committee.  She volunteers with Kentucky Refugee Ministries and Bluegrass Care Navigators.  Her heart turned to senior causes when her parents moved into a senior living community.  She saw how many challenges they faced in maintaining an active and meaningful life, so when she had the opportunity to enter the next phase of her career she committed herself to helping seniors.</p>
                <p>Jennifer grew up in the Northeast and has lived overseas in France, Turkey and England.  She has a Bachelors’ degree from Tufts University in International Relations and a Masters’ from Lesley College in Intercultural Training and Development.  She came to Lexington 24 years ago after 2 years in England.  Jennifer lives in Lexington with her husband, two sons, and two dogs.  </p>
              </div>
            </div>
        

            <div class="col-sm-4">
              <img src="assets/images/board/Nolan_Pacheco.jpg" alt="Nolan Pacheco portrait"/>
              <h2>Nolan Pacheco</h2>
              <p class="title"><strong>Ride Coordinator</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio13 = !showBoardBio13">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio13">
                <p>Nolan was born in Chicago but has lived in Lexington for most of his life. He majored in Creative Writing in the School of Creative and Performing Arts, and graduated from the University of Kentucky in 2013 with a B.A. in International Studies. He studied East and South Asia, taking language courses in Japanese and Russian. He has volunteered with Wolf Run Wildlife Refuge and the Louisville Youth Group. He is passionate about writing, music, and art. His mother told him about ITN Bluegrass after learning about it through the i Know Expo, and now works in the office as well as doing paid rides.</p>
              </div>
            </div>
            
            <div class="col-sm-4">
              <img src="assets/images/board/Ron_Sale.jpg" alt="Ron Sale portrait"/>
              <h2>Ron Sale</h2>
              <p class="title"><strong>Ride Coordinator</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio14 = !showBoardBio14">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio14" style="margin-right:7%">
                <p>Ron was born in Poughkeepsie, NY and has lived in Lexington since 1958. He was in the United States Air Force for four years, and worked in newspaper circulation at the Herald-Leader for thirty-three years. After retiring in 2009, he spent a year in Germany with his daughter and her family. His other daughter lives and works in Lexington. He volunteers occasionally at Central Kentucky Radio Eye, and enjoys music and sports. He and his wife, Claire, love dogs.</p>
              </div>
            </div>
          </div><!--row-->
          
          <div class="row mb-50">
        
            <div class="col-sm-4">
              <img src="assets/images/board/Barbara_Warburton.jpg" alt="Barbara Warburton portrait"/>
              <h2>Barbara Warburton</h2>
              <p class="title"><strong>Ride Coordinator and Customer Service Specialist</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio15 = !showBoardBio15">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio15">
                <p>Ride Coordinator Barbara Warburton first heard of ITNBluegrass when Laura Dake spoke at an AARP career fair in 2008, but knew of ITNBluegrass' founder Gale Reece through Gale’s family’s company Highbridge Springs, a water vendor Barbara purchased from in her position as a senior commercial buyer for Donaldson Co., Inc., a manufacturer of filtration and air cleaning systems. Barbara was intrigued by the work ITNBluegrass was proposing to do and eager to do something productive after her retirement from Donaldson. </p>
                <p>In her work as a ride coordinator, Barbara loves speaking with members and volunteers on the phone. She says that she has "a heart for seniors, therefore, working with them is such a delight." Barbara is a 2008 graduate of the Citizens Leadership Academy and a 2009 graduate of the Lexington Citizen Police Academy.  Barbara hails from Rockcastle County, KY, by way of Berea. </p>
              </div>
            </div>

            <div class="col-sm-4">
              <img src="assets/images/board/Angelique_Bell.jpg" alt="Angelique Bell portrait"/>
              <h2>Angelique Bell</h2>
              <p class="title"><strong>Ride Coordinator</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio16 = !showBoardBio16">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio16">
                <p>Angelique is a native of Lexington, KY. Her educational background is in foreign languages and African studies. She is an alumna of Western Kentucky and Ohio State University. She has more than twenty years of experience working with non-profit organizations and has always been very engaged in the various communities in which she has lived. <p>
                <p>She enjoys spending time with her twin niece and nephew and her retired dad. One of her favorite volunteer experiences was teaching an English as a Second Language course geared towards immigrant seniors.</p>
              </div>
            </div>
            
            <div class="col-sm-4">
              <img src="assets/images/board/Toya.jpg" alt="Toya Richmond portrait"/>
              <h2>Toya Richmond</h2>
              <p class="title"><strong>After Hours Ride Coordinator</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio17 = !showBoardBio17">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio17" style="margin-right:7%">
                <p>Toya has been employed with ITN Bluegrass since 2011 as a part-time After Hours Coordinator. Toya is also a full-time Administrative Assistant and Transportation Coordinator with Fayette County Public Schools at Henry Clay High School. She enjoys helping others, traveling, reading, and spending time with family.</p>
              </div>
            </div>
            
          </div><!--row-->
          
          
          <div class="row mb-100">
            
            
            <div class="col-sm-4">
              <img src="assets/images/board/Nakia.jpg" alt="Nakia Talbert portrait"/>
              <h2>Nakia Talbert</h2>
              <p class="title"><strong>After Hours Ride Coordinator</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio18 = !showBoardBio18">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio18">
                <p>Bio coming soon</p>
              </div>
            </div>
            
            <div class="col-sm-4">
              <img src="assets/images/board/Terry.jpg" alt="Terry Jagielski portrait"/>
              <h2>Terry Jagielski</h2>
              <p class="title"><strong>Dispatcher</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio19 = !showBoardBio19">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio19">
                <p>Originally from Pennsylvania, via Vermont, she is married with 3 daughters, 1 step daughter and several grandchildren. She has been an administrative assistant most of her working life with experience as a typesetter and medical transcriptionist at University of Kentucky Medical Center. She came to ITNBluegrass in 2017.</p>
              </div>
            </div>
            
          </div><!--row-->
          
        </div><!--container-->  
      </section>
    
    
    
      <section class="org-section" id="start">
        <img class="itn-icon" src="assets/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" src="assets/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9 wow fadeInUp" data-wow-duration="2s" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>{{affiliate}}</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

      
    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
    new WOW().init();
    </script>

